.lawyer-profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color-4);
  height: 90vh;
  padding: 20px 40px 20px 40px;
  overflow-y: auto;
}

.lawyer-profile-header {
  /* max-width: 1390px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.lawyer-profile-content {
  display: flex;
  flex-direction: column;
  padding: 30px 40px 30px 40px;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow-y: visible;
  margin-bottom: 30px;
}

.lawyer-profile-group {
  padding-bottom: 20px;
}
.lawyer-profile-group.disabled {
  opacity: 0.5;
  pointer-events: none; /* This disables interaction with the group */
}

.lawyer-profile-subTitle {
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;
}

.lawyer-profile-section {
  display: flex;
  flex-direction: column;
}

.lawyer-profile-display {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.lawyer-profile-edit {
  display: none;
  flex-direction: column;
}
.lawyer-profile-edit.isEditing {
  display: flex;
  flex-direction: column;
}
.lawyer-profile-edit-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0 15px;
}
.lawyer-profile-edit-save {
  width: 80px;
  margin-bottom: 15px;
}

.lawyer-profile-row {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.lawyer-profile-left {
  flex: 0 0 250px;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
  border-right: 2px solid var(--gray-color-3);
}

.lawyer-profile-right {
  flex: 1;
  padding-left: 20px;
}

.edit-button {
  position: absolute;
  right: 20px;
}

.content-row {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.content-label {
  width: 270px;
  min-width: 200px;
  margin-right: 16px;
}
