<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.immi.ai.dao.CustomerMapper">

    <select id="getByCName" resultType="com.quick.immi.ai.entity.Customer" parameterType="string">
        select * FROM customer_table where cognito_username = #{cognitoUsername}
    </select>

    <select id="getByUserName" resultType="com.quick.immi.ai.entity.Customer" parameterType="string">
        select * FROM customer_table where username = #{username}
    </select>

    <select id="get" resultType="com.quick.immi.ai.entity.Customer" parameterType="int">
        select * from customer_table where id=#{id}
    </select>

    <insert id="create" parameterType="com.quick.immi.ai.entity.Customer">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into customer_table (`username`,`cognito_username`,`status`,`last_login_at`,`email`,`phone_number`, `created_at`)
        values(#{username},#{cognitoUsername},#{status}, #{lastLoginAt},#{email},#{phoneNumber}, #{createdAt});
    </insert>

    <update id="updateById" parameterType="com.quick.immi.ai.entity.Customer">
        update customer_table
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="lastLoginAt != null">
                last_login_at = #{lastLoginAt},
            </if>
            <if test="cognitoUsername != null">
                cognito_username = #{cognitoUsername},
            </if>
            <if test="stripeCustomerId != null">
                stripe_customer_id = #{stripeCustomerId},
            </if>

            <if test="stripeAccountId != null">
                stripe_account_id = #{stripeAccountId},
            </if>
            <if test="stripePaymentMethodId != null">
                stripe_payment_method_id = #{stripePaymentMethodId},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id=#{id};
    </update>

    <update id="updateByCName" parameterType="com.quick.immi.ai.entity.Customer">
        update customer_table
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="lastLoginAt != null">
                last_login_at = #{lastLoginAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where cognito_username=#{cognitoUsername};
    </update>
</mapper>